---
import type { Tutorial } from '../types/interfaces';
export interface Props {
	tutorials: Tutorial[];
}

const { tutorials } = Astro.props;

type Library = 'GSAP' | 'FRAMER' | 'JS' | 'CSS' | 'default';

const colorMappings: Record<Library, { background: string; badge: string }> = {
	GSAP: { background: 'hover:bg-lime-100', badge: 'bg-lime-400 text-text' },
	FRAMER: { background: 'hover:bg-violet-100', badge: 'bg-violet-500 text-text' },
	JS: { background: 'hover:bg-yellow-100', badge: 'bg-yellow-500 text-text' },
	CSS: { background: 'hover:bg-blue-100', badge: 'bg-blue-500 text-text' },
	default: { background: 'hover:bg-gray-100', badge: 'bg-gray-500 text-text' },
};

function getColor(library: string, type: 'background' | 'badge') {
	const upperLibrary = library.toUpperCase() as Library;
	return (colorMappings[upperLibrary] || colorMappings.default)[type];
}

function getBackgroundColors(library: string) {
	return getColor(library, 'background');
}

function getBadgeColors(library: string) {
	return getColor(library, 'badge');
}
---

<style>
	.responsive-grid {
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}

	@media (min-width: 480px) {
		/* Tailwind's sm breakpoint */
		.responsive-grid {
			grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
		}
	}
</style>

<div class="responsive-grid grid gap-6">
	{
		tutorials.map((tut) => {
			return (
				<div
					class={`group flex flex-col justify-between overflow-hidden rounded-base border-2 border-black bg-lightBg transition duration-300 ease-in-out hover:shadow-cardLight focus:shadow-cardLight dark:bg-bg ${getBackgroundColors(tut.library)}`}
				>
					<div class="aspect-video overflow-hidden">
						<video
							src={tut.src}
							muted
							loop
							playsinline
							class="h-full w-full object-cover transition-transform duration-500 ease-in-out"
						/>
					</div>
					<div class="p-4 md:p-5">
						<>
							<div class="mb-2 flex items-center justify-between">
								<h3 class="line-clamp-2 text-lg font-medium text-text">{tut.title}</h3>
							</div>
							<div class="mt-6 flex items-center justify-between">
								<div class="mr-4 inline-flex items-center gap-4">
									<span
										class={`rounded-base border-2 border-border px-3 py-1 text-sm font-base ${getBadgeColors(tut.library)}`}
									>
										{tut.library}
									</span>
									<span class="xsm:max-w-[300px] inline-block max-w-[105px] truncate rounded-base border-2 border-border bg-gray-100 px-3 py-1 text-sm font-base text-gray-800">
										{tut.channelTitle}
									</span>
								</div>

								<a
									href={tut.link}
									target="_blank"
									rel="noopener noreferrer"
									class="flex-shrink-0 rounded-base border-2 border-black bg-main px-5 py-2 transition duration-300 ease-in-out hover:bg-pink-300 hover:shadow-buttonLight active:bg-pink-500"
								>
									Watch
								</a>
							</div>
						</>
					</div>
				</div>
			);
		})
	}
</div>

<script>
	const videos = document.querySelectorAll('video');

	const observer = new IntersectionObserver(
		(entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					(entry.target as HTMLVideoElement).play();
				} else {
					(entry.target as HTMLVideoElement).pause();
				}
			});
		},
		{ threshold: 0.5 },
	);

	videos.forEach((video) => {
		observer.observe(video);
	});
</script>
